/*about site*/
.grid-container {
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-columns: auto;
	font-size: 3rem;
	padding-bottom: 5rem;
}

.grid-item {
	margin: 10px;
}

.grid-item p{
	padding: 0em 1em 0em 1em;
}

.grid-item>.about-img {
	object-fit: stretch;
	width: 100%
}

/*contact site*/
.contact {
	padding: 1em;
	font-size: 3rem;
	display: grid;
	grid-template-columns: auto;
	min-height:100%;
	position:relative;
	padding-bottom: 5rem;
}
h3 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 15rem;
}
.name {
	text-align: center;
}
.insta-schrift,
.mail-schrift {
	font-family: Pristina;
	font-weight: bold;
}
.insta-schrift,
.mail-schrift {
	font-size: 5rem;
}
.link-button {
	display: flex;
	justify-content: center;
}
.link-button>button {
	border: 5px solid var(--background);
	padding: 0em 1em 0em 1em;
	border-radius: 2rem;
	background-color: white;
	box-shadow: 7px 10px 8px #888888;
}
.link-button>button:active {
	background-color: var(--background);
	color: white;
}

@media screen and (orientation: landscape) {
	/*about site*/
	.grid-item>.about-img {
		object-fit: cover;
		width: 100%;
	}
	.grid-container {
		margin: 10px;
		grid-template-columns: 40% 60%;
		grid-template-rows: 100%;
		font-size: 1.5rem;
	}
	.grid-item {
		display: inline-grid;
		justify-items: center;
		align-items: center;
	}	
	/*contact site*/
	h3 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.contact {
		display: grid;
		grid-template-columns: auto auto;
	}
	
	
	
}

