@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 100, 162, 0.9);
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
	background: hsl(203 100% 31.8% / 0.95);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin-left: -8px;
  margin-top: -8px;
}

.logo {
	color: white;
	text-shadow: 0 0 3px #ffffff, 0 0 5px #0060cf;
	font-variant: small-caps;
}

.middle {

}


/*=====navigation=====*/
/* checkbox invisible */
.nav-esc {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-esc:focus ~ .nav-esc-label {
  outline: 3px solid rgba(lightblue, .75);
}
/* menu button */
.nav-esc-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-esc-label span,
.nav-esc-label span::before,
.nav-esc-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-esc-label span::before,
.nav-esc-label span::after {
  content: '';
  position: absolute;
}
.nav-esc-label span::before {
  bottom: 7px;
}
.nav-esc-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 200%;
  height: 650%;
	padding-top: 35%;
  border-radius: 100%;
  right: -45%;
  background: hsl(203 100% 31.8% / 0.7);
  backdrop-filter: blur(0.9rem);
  width: 90%;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {

	margin-bottom: 2em;
	margin-left: 4em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
	font-size: 1.3rem;
  text-shadow: 0px 0px 10px white;
}
nav a:active {
	color: black;
	text-decoration: underline;
	
}

/* activate the menu button*/
.nav-esc:checked ~ nav {
  transform: scale(1,1);
}
/* show the list */
.nav-esc:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}






.content {
	width: 100%;
	}

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto;
  padding-top: 17%;
}

.grid-item {
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
}


img {
    max-width: 100%;
    max-height: 100%;
}






@media screen and (min-width: 35em) {
	.nav-esc-label {
    display: none;
	}
	.content {
		border: 1px solid red;
		
		
	}
	
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(400px, 3fr) 1fr;
	}
	.logo {
		grid-column: 2;
		padding-left: 0.5em;
		padding-right: 2em;
	}
	nav {
		all: unset;
		position: relative;
		text-align: left;
		transition: none;
		border-radius: unset;
		backdrop-filter: unset;
		transform: scale(1,1);
		background: none;
		top: initial;
		left: initial;    
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul {
		all: unset;
		display: flex;
	}
  
	nav li {
		all: unset;
		margin-left: 3em;
	}
	nav li:nth-of-type(4) {
		margin-right: 3em;
	}
	nav a {
		all: unset;
		color: white;
	}
	nav a::before {
		all: unset;
   
  }
	nav a:hover {
		all: unset;
		
	}
	nav a:hover::before {
    transform: scale(1,1);
  }

}
















